{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type = "text/css" href="{% static 'events/ec.css' %}">

<div class="container">
    <div class="row">
        <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
            <h2 class="center">List of the events</h2>
            <ul class="event-list">
                {% for li in evnt %}
                <li>
                    <time datetime="2014-07-20">
                        {{ li.date }}
                    </time>
                    <img alt="Independence Day" src="/media/{{ li.image }}" />
                    <div class="info">
                        <h2 class="title">{{ li.title }}</h2>
                        <p class="desc">{{ li.description }}</p>
                        <b><i><p class="desc"> {{ li.time }}</p></i></b>
                    </div>
                    <div class="social">
                        <ul>
                            <li class="facebook" style="width:33%;"><a href="#facebook"><span
                                        class="fa fa-facebook"></span></a></li>
                            <li class="twitter" style="width:34%;"><a href="#twitter"><span
                                        class="fa fa-twitter"></span></a></li>
                            <li class="google-plus" style="width:33%;"><a href="#google-plus"><span
                                        class="fa fa-google-plus"></span></a></li>
                        </ul>
                    </div>
                </li>
                {% endfor %}
                
            </ul>
        </div>
    </div>
</div>
{% endblock %}