{% extends 'blog/base.html' %}
{% load static %}

{% block content%}
<div class="list-group ">
    {% for prod in product %}
    
        <div class="card" style="width: 20rem;">
            <div>
                <h5 class="card-title">Category: {{ prod.category }} </h5>
                <img class="card-img-top" src="/media/{{ prod.image }}" alt="Card image cap">
            </div>

            <div class="card-body">
                <h4 id="name{{ product_name }}" class="card-title">{{ prod.product_name }} </h4>
                <h5 class="card-title">Price: {{ prod.price }} </h5>
                <p class="card-text">{{ prod.description }} </p>
                <button id='add' href="#" class="btn btn-primary add">Add to cart</button>
                <a href="/shop/products/{{ prod.id }}" class="btn btn-primary">View</a>

            </div>
        </div>
    

    {% endfor %}
</div>

{% endblock content%}
{% block js %}
<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>

    console.log('working');
    
    if (localStorage.getItem('cart') == null) {
        cart = 0;
    }
    else {
        cart = JSON.parse(localStorage.getItem('cart'));
        document.getElementById('cart').innerHTML = cart;
    }
    $('.add').click(function () {
        console.log("clicked");
        cart += 1;
        var naam = $('#name').html()
        console.log(naam);
        
        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById('cart').innerHTML = cart;
    });

    $('.clr').click(function(){
        console.log("clrr");
        cart = 0;
        localStorage.clear();
        document.getElementById('cart').innerHTML = cart;
    });
</script>
{% endblock %}